@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@1,100&display=swap');
/*font-family: 'Noto Sans JP', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    }
/* los estilos para la barra de navegacion*/ 
.navbar{
    background-color:#98dbc6;
}
.navbar-brand p{
    margin: 0px;
    font-size: 15px;
    color: black;
}
.nav-link{
    color: black;
    font-size: 20px;
}

.navbar-brand img{
    margin-left: 28px;
}


/* las modificaciones de la parte del contenido principal*/    
main{
    height: 310px;
    width: 100%;
    background-color:#98dbc6 ;
    display:grid;
    grid-template-columns: 100%;
}
.nombre{
    color: rgb(19, 17, 17);
    width:99%;
    height: 500px;
    background-color: white;
    display: none;
    }   

.contenido{
width:100%;
height: 300px;
padding: 5px;
overflow-y: scroll;
background-color: white;

}
.contenido h2{
    height: 10px;
    width: auto;
    margin-left: 20px;
}

.copaE{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  150px;
    column-gap: 1%;
    
}   
.cop{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows:  20% 60% 20% ;
    height: 150px;
    border: solid;  
}
.cop h3{
    padding-bottom: 2px ;
    grid-column:1/2 ;
    grid-row:1/2 ; 
    font-size: 12px; 
    
}
.cop p{
    font-size: 10px;
    padding-left: 1px;
    grid-column:1/2 ;
    grid-row:2/3 ; 
}
.cop h4{
    grid-column:1/2 ;
    grid-row:3/4;
    font-size: 10px;

}
.cop img{

width:100%;
height:90%;
padding-top: px;
padding-left: 1px;
padding-right: 1px;
padding-bottom: 1px;
grid-column:2/3 ;
grid-row:1/3 ; 
}
.cop a{
    grid-column:2/3 ;
    grid-row:3/4 ; 
    text-decoration: none;
    font-size: 25px;      
    justify-self: center;
    align-self: center;
    color: rgba(34, 165, 119, 0.968);
        }

.cop a:hover{
    text-shadow: 0 4px 5px rgb(69, 72, 77);
    transition: 0.5s;
}

/*estilos para la parte del sobre la Empresa*/
h2{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 2px;
}
.sobre{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 32PX 80px 30PX 30px 30PX;
    
 }
  .parteS{
    
    border-bottom:solid black 1px ;
    border-top: solid black 1px;
  }
  .cuantoV{
    display:inline-block;
    
}
.cuantoV ul{
    padding-top: 8px;
    padding-left: 2px;
    margin: 1px;
    list-style:none;
    font-size: 9px;

}
.parteS h3{
    font-size: 12px;
    padding:3px;
}
.partes6 a{
    font-size: 12px;
    margin-left: 25px;
    color: rgb(57, 7, 206);
    text-decoration: none;
    font-size:10px;  
}

/*estilos para la parte del Mapa*/

.map{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100PX 150px;
 
}   
.parteU{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border: 0.5px solid black;
    
}

.parteu2{
    grid-column:2/3 ;
    grid-row:1/3 ;  
    
}

.parteA img{ 
    height: 40PX;
    width: 70PX;
    margin-top: 6px;
    margin-left: 5PX;
}
.parteA2{
    grid-column:2/3 ;
    grid-row:1/3 ;
    
}
.parteA2 h2{
    padding-top: 20%;
    padding-left: 2px;
    font-size: 10px;
    
    
}
.parteA3 a{
    font-size: 8px;
    margin-left: 25px;
    color: rgb(57, 7, 206);
    text-decoration: none;
    font-size:10px;
    
}

.parteB1{
    grid-column:1/3 ;
    grid-row:1/3 ;
}
.parteB1 iframe{
    height: 72%;
    width: 90%;
    margin: 10px;
    
}
.parteB1 h2{
    font-size: 12px;
    padding-left: 2px;
}
.parteB1 p{
    font-size: 8px;
    margin: 0px;
    padding-left: 2px;
}
.parteC1{
    grid-column:1/3 ;
    grid-row:1/3 ;
}
.parteC1 h2{
    padding-top:7px;
    padding-left: 3px;
    font-size: 11px;    
}
.horarios{
    display:inline-block;
}
.horarios ul{
    padding:0;
    margin: 5px;
    font-size: 11px; 
    list-style:none;
}


/*estilos para el ACORDEON*/  

.contenedorAcordeon{
    width: 100%;
    margin-top: 1px;
    border-top: solid;
}
.contenedorAcordeon h2{
    text-align: left;
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-top: 5px;
}
.contenedorAcordeon P{
    font-size: 10px;
    margin-left: 2PX;
}

.acordeon{
    background: #fff;
}
.acordeon label{
    display: block;
    padding-left: 8px;
    font-size: 12px;
    background: white;
    color: black;
    transition: all 300ms ease;
    border-bottom: solid 0.5px;
    padding-bottom: 5px;  
    
  
}
.acordeon label:hover{
    background: rgb(1, 22, 15);
    color: aliceblue;
    border-bottom: none;


}
.acordeon label i{
    font-size: 18px;
   margin-left:8px;
   
}
.acordeon .contenidoAcordeon{
    padding: 0px;
    margin: 0px 10px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.btnacordeon:checked ~ .contenidoAcordeon{
    max-height: 600px;
    padding: 2px 0px;
}
.btnacordeon{
    display: none;
}
/*estilos para el FOOTER*/  
    footer{
        background-color: #98dbc6;
        color: rgb(8, 8, 8);
        text-align: center;
        padding: 1px;   
        height: 60px;  
        width: 100%;
    }
.barraI ul{
margin-bottom:5px;
padding-bottom: 5px;
    }
.barraI ul li{
        list-style:none;
        display: inline-block;        

    }

    .barraI a{
        text-decoration: none;
        color: black;
        font-weight:bold;
        font-size: 13px;
        margin:7px 4px;  
        
    }

    .barraI a:hover{
        text-shadow: 0 2px 5px rgb(69, 72, 77);
        transition: 0.5s;
}

    .inferior{
        display:flex;
        justify-content: space-between;
    }
    .inferior p{
        margin-top: 12px;
        margin-bottom: 0px;
        font-size: 8px;
    }

    .redes a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size:10px;
    }
    .redes a:hover{
        
        text-shadow: 0 2px 5px rgb(69, 72, 77);
        transition: 0.5s;
}
.subir{
        height: 25px;
        width: 25px;
        background-color: #98dbc6;
        color: white;
        text-decoration: none;
        position: fixed;
        right: 10px;
        bottom: 10px;
        text-align: center;
        font-size: 25px;
        border-radius: 25px;
        box-shadow: 0 0 5px 3px #fff;
        
        }
        .subir:hover{
            transform: scale(0.9);
            background-color:rgb(69, 72, 77) ;
        }



/*inicio de formato de ingreso*/
.jumbotron{
background-image: url(/Imagenes/Fondos.jpg);
background-size: cover;
background-position: center;
height: 600px;
padding: 0px;
}

.navbarI{
    background-color:#98dbc6 ;
}
.fIngresar{
margin-top: 40px;
border: solid #0e0f0f;
height: 80%;
}

.containerR{
    height: 15%;
   

  

}

/*inicio de formato de Restablecer*/
.jumbotrona{
    background-image: url(/Imagenes/Fondos.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 5px;}

    .fRestablecer{
        margin-top: 10px;
        border: solid #0e0f0f;
        height: 50%;
    }
    
    .restable{
        height: 5%;}
        
        .containerRe{
            height: 15%;
            margin-top: 1px;
        
          
        
        } 
        /*media queries inicia*/

@media only screen and (min-width:480px){

/* media query del contenido principal*/       

.contenido h2{
    height: 20px;
}

.copaE{
    grid-template-rows:  160px;  
}   
.cop h3{
    padding-bottom: 4px ;
    font-size: 18px; 
    
}
.cop p{
    font-size: 11px;
    padding-left: 2px;
}
.cop h4{
    font-size: 12px;
}

.cop a{
   font-size: 30px;      
}


    /*media queries parte sobre la Empresa*/
h2{
    font-size: 17px;
    
}
.sobre{
    grid-template-columns: 45% 55%;
    grid-template-rows: 37PX 95px 30PX 30px 30PX;
    
 }
.cuantoV ul{
    padding-top: 2px;
    padding-left: 2px;
    font-size: 12px;
}
.parteS h3{
    font-size: 14px;
    padding:3px;
}
.partes6 a{
    font-size:14px;  
}

/*media queries Mapa*/

    
    .parteA img{ 
        
        margin-left: 12PX;
    }
    .parteA2 h2{
        padding-left: 4px;
        font-size: 16px;           
    }
    .parteA3 a{
        font-size: 12px;
        margin-left: 30px;   
    }
    
    .parteB1 h2{
        font-size: 15px;
        padding-left: 6px;
    }
    .parteB1 p{
        font-size: 12px;
        margin: 2px;
        padding-left: 4px;
    }
    .parteC1 h2{
        text-align: center;
        padding-top:10px;
        font-size: 15px;    
    }
    .horarios{
        display:inline-block;
        margin-left: 15%;
    }
    .horarios ul{
        font-size: 12px; 
        list-style:none;
    }
    
    
  /*Media query de acordeon*/  
    .contenedorAcordeon h2{
      font-size: 18px;
      margin-top: 10px;
      margin-left: 6px;
      
    }
    .contenedorAcordeon P{
        font-size: 13px;
        margin-left: 6px;
       }
    .acordeon label{
        font-size: 15px;  
        padding-left: 15px; 
    }
    .acordeon label i{
    font-size: 28px;
    margin-left: 4px;
    }
       
    /*Media query Footer*/
    footer{
    height: 70px; 
    padding: 2px;
    }
    .barraI a{
    font-size: 15px;
    margin: 12px 12px;
    }
    .inferior p{
        margin-top: 13px;
        font-size: 12px;
    }   
.redes a{
    color: rgb(8, 8, 8);
    letter-spacing: 1px;
    font-size:15px;
    }
.subir{
    font-size: 25px;
    border-radius: 25px;
    right: 13px;
    bottom: 13px;
    height: 30px;
    width: 30px;
    }  
}

@media only screen and (min-width:768px)and (max-width:1024px){


    main{
        height: 503px;
        width: 100%;
        grid-template-columns: 35% 65%;
    }
    .nombre{
        width:99%;
        height: 500px;
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  60% 10% 5% 25%;
        }   
    .nombre h1{
        font-size:35px;
        font-weight: bold;
        justify-self: center;
        
    }   
    .nombre img{
        height: 100%;
        width: 90%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 10px;
    }   
    
    .nombre p{
    font-size:15px;
    
    }
    
    
    .contenido{
    width:100%;
    height: 500px;
    padding: 5px;
    overflow-y: scroll;
    background-color: white;
    
    }
    .contenido h2{
        height: 30px;
        width: auto;
        margin-left: 10px;
    }
    
    .cop h3{
        font-size: 19px;
        
    }
    .cop p{
        font-size: 12px;
        
    }
    .cop h4{
        font-size: 15px;
    
    }
        .cop a{
      
        font-size: 30px;      
        
            }
    
    
        /*media queries parte sobre la Empresa*/
h2{
    font-size: 20px;
    
}
.sobre{
    grid-template-columns: 40% 60%;
    grid-template-rows: 37PX 130px 30PX 30px 30PX;
    
 }
.cuantoV ul{
    padding-top: 3px;
    padding-left: 3px;
    font-size: 17px;
}
.parteS h3{
    font-size: 17px;
    padding:4px;
}
.partes6 a{
    font-size:17px;  
}

    /*media queries Mapa*/
    .map{
    
        grid-template-rows: 130px 230px;
     
    }   
    .parteA img{ 
        height: 65px;
        width: 75px;
        margin-left: 40px;
    }
    .parteA2 h2{
        padding-left: 4px;
        font-size: 23px;           
    }
    .parteA3{
        margin-top: 5px;
        margin-left: 20px; 
    }
    .parteA3 a{
        font-size: 16px;
          
    }
    
    .parteB1 h2{
        font-size: 20px;
        padding-left: 4px;
    }
    .parteB1 p{
        font-size: 18px;
        margin: 4px;
        padding-left: 4px;
    }
    .parteC1 h2{
        text-align: center;
        padding-top:12px;
        font-size: 18px;    
    }
    .horarios{
        display:inline-block;
        margin-left: 15%;
    }
    .horarios ul{
        font-size: 17px; 
        list-style:none;
    }
     /*Media query de acordeon*/  
     .contenedorAcordeon h2{
        font-size: 20px;
        margin-top: 15px;
        margin-left: 8px;
         
      }
      .contenedorAcordeon P{
          font-size: 16px;
          margin-left: 8px;
            }
      .acordeon label{
          font-size: 17px;   
          padding-left: 15px;   
      }
      .acordeon label i{
      font-size: 30px;
      margin-left: 6px;
      }
       
    /*media query de footer*/  
    footer{
        height: 82px; 
        padding:6px;
        }
        .barraI a{
        font-size: 18px;
        margin: 17px 17px;
        }
        .inferior p{
            margin-top: 18px;
            font-size: 15px;
        }   
    .redes a{
        color: rgb(8, 8, 8);
        letter-spacing: 2px;
        font-size:20px;
        }
    .subir{
        font-size: 30px;
        border-radius: 30px;
        right: 17px;
        bottom: 17px;
        height: 35px;
        width: 35px;
        }      



}



@media only screen and (min-width:1024px){

/*Media queries de parte principal*/

main{
    height: 503px;
    width: 100%;
    grid-template-columns: 35% 65%;
}
.nombre{
    width:99%;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  60% 10% 5% 25%;
    }   

    .nombre img{
        height: 100%;
        width: 90%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 10px;
    }   
.nombre h1{
    margin-top: 10px;
    margin-left: 15px;
    font-size:50px;
        
}   
   

.nombre p{
margin-top: 15px;   
font-size:20px;
margin-left: 10px;
 
}


.contenido{
width:100%;
height: 500px;
padding: 5px;
overflow-y: scroll;
background-color: white;

}
.contenido h2{
    height: 30px;
    width: auto;
    margin-left: 20px;
}

.copaE{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  255px;
    column-gap: 1%;
    
}   
.cop{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows:  20% 60% 20% ;
    height: 260px;
    border: solid;  
}
.cop h3{
    font-size: 20px;  
    
}
.cop p{
    font-size: 18px;
}
.cop h4{
    font-size: 16px;
}
.cop img{

    width:100%;
    height:90%;
    padding-top: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    }
.cop a{
    
    font-size: 40px;      
   
        }

/*media queries parte sobre la Empresa*/
h2{
    font-size: 27px;
    padding-left: 15px;
}
.sobre{
    grid-template-columns: 35% 65%;
    grid-template-rows: 37PX 150px 35PX 35px 35PX;
    
 }
.cuantoV ul{
    padding-top: 3px;
    padding-left: 12px;
    font-size: 20px;
}
.parteS h3{
    font-size: 22px;
    padding:8px;
    padding-left:30px;
}
.partes6 a{
    font-size:22px;  
}
    /*media queries Mapa*/
    .map{
    
        grid-template-rows: 110px 240px;
     
        }   
    .parteA img{ 
        height: 70px;
        width: 80px;
        margin-left: 40px;
    }
    .parteA2 h2{
        padding: 0px;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 30px;           
    }
    .parteA3{
        margin-top: 25px;
        margin-left: 24px; 
    }
    .parteA3 a{
       
        font-size: 20px;
          
    }
    
    .parteB1 h2{
        font-size: 26px;
        padding-left: 6px;
    }
    .parteB1 p{
        font-size: 20px;
        margin: 6px;
        padding-left: 6px;
    }
    .parteC1 h2{
        text-align: center;
        padding-top:14px;
        font-size: 20px;    
    }
    .horarios{
        display:inline-block;
        margin-left: 15%;
    }
    .horarios ul{
        font-size: 20px; 
        list-style:none;
    }



    /*Media query de acordeon*/  
    .contenedorAcordeon h2{
        font-size: 24px;
        margin-top: 23px;
        margin-left: 10px;
    }
    .contenedorAcordeon P{
        font-size: 19px;
        margin-left: 10px;
    }
    .acordeon label{
        font-size: 20px; 
        padding-left: 20px;     
    }
    .acordeon label i{
        font-size: 32px;
        margin-left: 8px;
}   
    /*media query de footer*/  
    footer{
        height: 90px; ; 
        padding:6px;
    }
    .barraI a{
        font-size: 20px;
        margin: 30px 30px;
    }
    .inferior p{
        margin-top: 18px;
        font-size: 15px;
    }      
    .redes a{
        color: rgb(8, 8, 8);
        letter-spacing: 4px;
        font-size:25px;
    }
    .subir{
        font-size: 35px;
        border-radius: 35px;
        right: 22px;
        bottom: 22px;
        height: 40px;
        width: 40px;
    }       
}